/* ==========================================================================
   Color Functions
   ========================================================================== */
/*
   EM conversion
   ========================================================================== */
/* ==========================================================================
   Fluid Type
   as seen on https://madebymike.com.au/writing/fluid-type-calc-examples/
   ========================================================================== */
/*
   Compass YIQ Color Contrast
   https://github.com/easy-designs/yiq-color-contrast
   ========================================================================== */
/* ==========================================================================
   Variables
   ========================================================================== */
/* Breakpoint widths */
/* Fluid type */
/* Calculate Modular Scale */
/* small */
/* large */
/* Heading 1 */
/* Heading 2 */
/* Heading 3 */
/* Heading 4 */
/* Heading 5 */
/* Heading 6 */
/* Font Families */
/* YIQ color contrast */
/* Brands */
/* Max-width of the main content */
/* Max-width of the main content + sidebar */
/* Site logo */
/* Border radius */
/* Global transition */
/* ==========================================================================
   NOTICE TEXT BLOCKS
   ========================================================================== */
/**
 *  Default Kramdown usage (no indents!):
 *  <div class="notice" markdown="1">
 *  #### Headline for the Notice
 *  Text for the notice
 *  </div>
 */
/* Colors */
/* ==========================================================================
   Base elements
   ========================================================================== */
body {
  color: #bfc5ca;
  background: #252831;
  border-top-color: #1a1c22;
}

a {
  color: #d4a747;
}
a:hover {
  color: #9f7d35;
}

blockquote {
  background-color: #373533;
  border-left-color: #d4a747;
}

/* ==========================================================================
   Site-wide
   ========================================================================== */
.site-title a {
  color: #bfc5ca;
}

.copyright {
  color: white;
}
.copyright a {
  color: white;
}

.taxonomy-title {
  color: white;
}

.taxonomy-count {
  color: white;
}

.taxonomy-index a {
  border-bottom-color: #3b3e46;
}
.taxonomy-index a:hover {
  color: #d4a747;
}

.taxonomy-section:not(:last-child) {
  border-bottom-color: #3b3e46;
}

.back-to-top {
  color: white;
}

.site-nav ul {
  color: #aeaeae;
  background-color: #1a1c22;
}
.site-nav a {
  color: #aeaeae;
  border-color: #1a1c22;
}
.site-nav a:hover {
  border-color: #aeaeae;
}

.site-footer {
  border-top-color: #3b3e46;
}

.footnotes {
  border-top-color: #3b3e46;
}

.site-logo-img {
  border-color: #252831;
}

.toc-wrapper {
  border-color: #6c6e74;
}
.toc-wrapper h2 {
  color: #eef7ff;
  background-color: #363944;
}
.toc-wrapper li ol {
  background-color: #252831;
}
.toc-wrapper li a:hover, .toc-wrapper li a:focus {
  border-bottom: 1px dotted #3b3e46;
}

#menu-toggle {
  color: #aeaeae;
}

#menu-toggle {
  background-color: #1a1c22;
}

#markdown-toc {
  color: #eef7ff;
}

.pagination li a {
  color: #7d8288;
  border-color: #3b3e46;
}
.pagination li a.current, .pagination li a.current.disabled {
  background-color: #7d8288;
  color: #fff;
}
.pagination li a.disabled {
  color: #3b3e46;
}

.search-input {
  border-color: #3b3e46;
}

/* ==========================================================================
   Page
   ========================================================================== */
.page-previous,
.page-next {
  color: #bfc5ca;
}

/* ==========================================================================
   Entries (Posts, collection documents, etc.)
   ========================================================================== */
.entry a:hover {
  color: #d4a747;
}

/* ==========================================================================
   Tables
   ========================================================================== */
th,
td {
  border-bottom-color: #3b3e46;
}

/* ==========================================================================
   NOTICE TEXT BLOCKS
   ========================================================================== */
/* Default notice */
.notice {
  margin: 2em 0 !important; /* override*/
  padding: 1em;
  background-color: #363944;
  color: #fff;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 1px 1px rgba(54, 57, 68, 0.25);
  box-shadow: 0 1px 1px rgba(54, 57, 68, 0.25);
}
.notice h4 {
  margin-top: 0 !important; /* override*/
  margin-bottom: 0.75em;
}
.page__content .notice h4 {
  /* using at-root to override .page-content h4 font size*/
  margin-bottom: 0;
  font-size: 1rem;
}

.notice p:last-child {
  margin-bottom: 0 !important; /* override*/
}
.notice h4 + p {
  /* remove space above paragraphs that appear directly after notice headline*/
  margin-top: 0;
  padding-top: 0;
}
.notice a {
  color: #0e0e11;
}
.notice a:hover {
  color: #16171b;
}
.notice ul:last-child {
  margin-bottom: 0; /* override*/
}

/* Accent notice */
.notice--accent {
  margin: 2em 0 !important; /* override*/
  padding: 1em;
  background-color: #ddc288;
  color: #000;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 1px 1px rgba(221, 194, 136, 0.25);
  box-shadow: 0 1px 1px rgba(221, 194, 136, 0.25);
}
.notice--accent h4 {
  margin-top: 0 !important; /* override*/
  margin-bottom: 0.75em;
}
.page__content .notice--accent h4 {
  /* using at-root to override .page-content h4 font size*/
  margin-bottom: 0;
  font-size: 1rem;
}

.notice--accent p:last-child {
  margin-bottom: 0 !important; /* override*/
}
.notice--accent h4 + p {
  /* remove space above paragraphs that appear directly after notice headline*/
  margin-top: 0;
  padding-top: 0;
}
.notice--accent a {
  color: #373122;
}
.notice--accent a:hover {
  color: #584e36;
}
.notice--accent ul:last-child {
  margin-bottom: 0; /* override*/
}

/* Primary notice */
.notice--primary {
  margin: 2em 0 !important; /* override*/
  padding: 1em;
  background-color: #f7f7f7;
  color: #000;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 1px 1px rgba(247, 247, 247, 0.25);
  box-shadow: 0 1px 1px rgba(247, 247, 247, 0.25);
}
.notice--primary h4 {
  margin-top: 0 !important; /* override*/
  margin-bottom: 0.75em;
}
.page__content .notice--primary h4 {
  /* using at-root to override .page-content h4 font size*/
  margin-bottom: 0;
  font-size: 1rem;
}

.notice--primary p:last-child {
  margin-bottom: 0 !important; /* override*/
}
.notice--primary h4 + p {
  /* remove space above paragraphs that appear directly after notice headline*/
  margin-top: 0;
  padding-top: 0;
}
.notice--primary a {
  color: #3e3e3e;
}
.notice--primary a:hover {
  color: #636363;
}
.notice--primary ul:last-child {
  margin-bottom: 0; /* override*/
}

/* Warning notice */
.notice--warning {
  margin: 2em 0 !important; /* override*/
  padding: 1em;
  background-color: #f7efcc;
  color: #000;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 1px 1px rgba(247, 239, 204, 0.25);
  box-shadow: 0 1px 1px rgba(247, 239, 204, 0.25);
}
.notice--warning h4 {
  margin-top: 0 !important; /* override*/
  margin-bottom: 0.75em;
}
.page__content .notice--warning h4 {
  /* using at-root to override .page-content h4 font size*/
  margin-bottom: 0;
  font-size: 1rem;
}

.notice--warning p:last-child {
  margin-bottom: 0 !important; /* override*/
}
.notice--warning h4 + p {
  /* remove space above paragraphs that appear directly after notice headline*/
  margin-top: 0;
  padding-top: 0;
}
.notice--warning a {
  color: #3e3c33;
}
.notice--warning a:hover {
  color: #636052;
}
.notice--warning ul:last-child {
  margin-bottom: 0; /* override*/
}

/* Success notice */
.notice--success {
  margin: 2em 0 !important; /* override*/
  padding: 1em;
  background-color: #c0f7ce;
  color: #000;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 1px 1px rgba(192, 247, 206, 0.25);
  box-shadow: 0 1px 1px rgba(192, 247, 206, 0.25);
}
.notice--success h4 {
  margin-top: 0 !important; /* override*/
  margin-bottom: 0.75em;
}
.page__content .notice--success h4 {
  /* using at-root to override .page-content h4 font size*/
  margin-bottom: 0;
  font-size: 1rem;
}

.notice--success p:last-child {
  margin-bottom: 0 !important; /* override*/
}
.notice--success h4 + p {
  /* remove space above paragraphs that appear directly after notice headline*/
  margin-top: 0;
  padding-top: 0;
}
.notice--success a {
  color: #303e34;
}
.notice--success a:hover {
  color: #4d6352;
}
.notice--success ul:last-child {
  margin-bottom: 0; /* override*/
}

/* Danger notice */
.notice--danger {
  margin: 2em 0 !important; /* override*/
  padding: 1em;
  background-color: #f7bfbc;
  color: #000;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 1px 1px rgba(247, 191, 188, 0.25);
  box-shadow: 0 1px 1px rgba(247, 191, 188, 0.25);
}
.notice--danger h4 {
  margin-top: 0 !important; /* override*/
  margin-bottom: 0.75em;
}
.page__content .notice--danger h4 {
  /* using at-root to override .page-content h4 font size*/
  margin-bottom: 0;
  font-size: 1rem;
}

.notice--danger p:last-child {
  margin-bottom: 0 !important; /* override*/
}
.notice--danger h4 + p {
  /* remove space above paragraphs that appear directly after notice headline*/
  margin-top: 0;
  padding-top: 0;
}
.notice--danger a {
  color: #3e302f;
}
.notice--danger a:hover {
  color: #634c4b;
}
.notice--danger ul:last-child {
  margin-bottom: 0; /* override*/
}

/* Info notice */
.notice--info {
  margin: 2em 0 !important; /* override*/
  padding: 1em;
  background-color: #c9e9f7;
  color: #000;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 1px 1px rgba(201, 233, 247, 0.25);
  box-shadow: 0 1px 1px rgba(201, 233, 247, 0.25);
}
.notice--info h4 {
  margin-top: 0 !important; /* override*/
  margin-bottom: 0.75em;
}
.page__content .notice--info h4 {
  /* using at-root to override .page-content h4 font size*/
  margin-bottom: 0;
  font-size: 1rem;
}

.notice--info p:last-child {
  margin-bottom: 0 !important; /* override*/
}
.notice--info h4 + p {
  /* remove space above paragraphs that appear directly after notice headline*/
  margin-top: 0;
  padding-top: 0;
}
.notice--info a {
  color: #323a3e;
}
.notice--info a:hover {
  color: #505d63;
}
.notice--info ul:last-child {
  margin-bottom: 0; /* override*/
}

/* ==========================================================================
   Accessibility Modules
   ========================================================================== */
/* Text meant only for screen readers */
.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
  background-color: #eaeaea;
}

/* ==========================================================================
   BUTTONS
   ========================================================================== */
.btn {
  /* button colors */
}
.btn--primary {
  background-color: white;
  color: #000;
}
.btn--primary:hover {
  background-color: #cccccc;
  color: #000;
}
.btn--primary:visited {
  background-color: white;
  color: #000;
}
.btn--accent {
  background-color: #d4a747;
  color: #fff;
}
.btn--accent:hover {
  background-color: #aa8639;
  color: #fff;
}
.btn--accent:visited {
  background-color: #d4a747;
  color: #fff;
}
.btn--inverse {
  background-color: #fff;
  color: #000;
  border: 1px solid #3b3e46;
}
.btn--inverse:hover {
  background-color: #cccccc;
  color: #000;
}
.btn--inverse:visited {
  background-color: #fff;
  color: #000;
}
.btn--light-outline {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.btn--light-outline:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}
.btn--light-outline:visited {
  background-color: transparent;
  color: #fff;
}
.btn--success {
  background-color: rgb(164, 255, 187);
  color: #000;
}
.btn--success:hover {
  background-color: #83cc96;
  color: #000;
}
.btn--success:visited {
  background-color: rgb(164, 255, 187);
  color: #000;
}
.btn--warning {
  background-color: rgb(255, 243, 184);
  color: #000;
}
.btn--warning:hover {
  background-color: #ccc293;
  color: #000;
}
.btn--warning:visited {
  background-color: rgb(255, 243, 184);
  color: #000;
}
.btn--danger {
  background-color: rgb(255, 162, 158);
  color: #000;
}
.btn--danger:hover {
  background-color: #cc827e;
  color: #fff;
}
.btn--danger:visited {
  background-color: rgb(255, 162, 158);
  color: #000;
}
.btn--info {
  background-color: rgb(179, 233, 255);
  color: #000;
}
.btn--info:hover {
  background-color: #8fbacc;
  color: #000;
}
.btn--info:visited {
  background-color: rgb(179, 233, 255);
  color: #000;
}
.btn--facebook {
  background-color: #3b5998;
  color: #fff;
}
.btn--facebook:hover {
  background-color: #2f477a;
  color: #fff;
}
.btn--facebook:visited {
  background-color: #3b5998;
  color: #fff;
}
.btn--twitter {
  background-color: #55acee;
  color: #fff;
}
.btn--twitter:hover {
  background-color: #448abe;
  color: #fff;
}
.btn--twitter:visited {
  background-color: #55acee;
  color: #fff;
}
.btn--google-plus {
  background-color: #dd4b39;
  color: #fff;
}
.btn--google-plus:hover {
  background-color: #b13c2e;
  color: #fff;
}
.btn--google-plus:visited {
  background-color: #dd4b39;
  color: #fff;
}
.btn--linkedin {
  background-color: #007bb6;
  color: #fff;
}
.btn--linkedin:hover {
  background-color: #006292;
  color: #fff;
}
.btn--linkedin:visited {
  background-color: #007bb6;
  color: #fff;
}
.btn--reddit {
  background-color: #ff4500;
  color: #fff;
}
.btn--reddit:hover {
  background-color: #cc3700;
  color: #fff;
}
.btn--reddit:visited {
  background-color: #ff4500;
  color: #fff;
}

/* ==========================================================================
   Syntax highlighting
   ========================================================================== */
code.highlighter-rouge {
  color: #eef7ff;
  background-color: rgba(73, 78, 94, 0.4);
}

div.highlighter-rouge,
figure.highlight {
  color: #eef7ff;
  background-color: #363944;
}

.highlight table td.gutter {
  color: #b2ccd6;
  border-right-color: #b2ccd6;
}

.highlight .hll {
  background-color: #eeffff;
}

.highlight .c {
  /* Comment */
  color: #b2ccd6;
}
.highlight .err {
  /* Error */
  color: #f09297;
}
.highlight .k {
  /* Keyword */
  color: #cca7e6;
}
.highlight .l {
  /* Literal */
  color: #f1a189;
}
.highlight .n {
  /* Name */
  color: #eef7ff;
}
.highlight .o {
  /* Operator */
  color: #89ddff;
}
.highlight .p {
  /* Punctuation */
  color: #eef7ff;
}
.highlight .cm {
  /* Comment.Multiline */
  color: #b2ccd6;
}
.highlight .cp {
  /* Comment.Preproc */
  color: #b2ccd6;
}
.highlight .c1 {
  /* Comment.Single */
  color: #b2ccd6;
}
.highlight .cs {
  /* Comment.Special */
  color: #b2ccd6;
}
.highlight .gd {
  /* Generic.Deleted */
  color: #f09297;
}
.highlight .ge {
  /* Generic.Emph */
  font-style: italic;
}
.highlight .gh {
  /* Generic.Heading */
  color: #eef7ff;
  font-weight: bold;
}
.highlight .gi {
  /* Generic.Inserted */
  color: #adf3ad;
}
.highlight .gp {
  /* Generic.Prompt */
  color: #b2ccd6;
  font-weight: bold;
}
.highlight .gs {
  /* Generic.Strong */
  font-weight: bold;
}
.highlight .gu {
  /* Generic.Subheading */
  color: #89ddff;
  font-weight: bold;
}
.highlight .kc {
  /* Keyword.Constant */
  color: #cca7e6;
}
.highlight .kd {
  /* Keyword.Declaration */
  color: #cca7e6;
}
.highlight .kn {
  /* Keyword.Namespace */
  color: #89ddff;
}
.highlight .kp {
  /* Keyword.Pseudo */
  color: #cca7e6;
}
.highlight .kr {
  /* Keyword.Reserved */
  color: #cca7e6;
}
.highlight .kt {
  /* Keyword.Type */
  color: #ffd382;
}
.highlight .ld {
  /* Literal.Date */
  color: #adf3ad;
}
.highlight .m {
  /* Literal.Number */
  color: #f1a189;
}
.highlight .s {
  /* Literal.String */
  color: #adf3ad;
}
.highlight .na {
  /* Name.Attribute */
  color: #abc6ff;
}
.highlight .nb {
  /* Name.Builtin */
  color: #eef7ff;
}
.highlight .nc {
  /* Name.Class */
  color: #ffd382;
}
.highlight .no {
  /* Name.Constant */
  color: #f09297;
}
.highlight .nd {
  /* Name.Decorator */
  color: #89ddff;
}
.highlight .ni {
  /* Name.Entity */
  color: #eef7ff;
}
.highlight .ne {
  /* Name.Exception */
  color: #f09297;
}
.highlight .nf {
  /* Name.Function */
  color: #abc6ff;
}
.highlight .nl {
  /* Name.Label */
  color: #eef7ff;
}
.highlight .nn {
  /* Name.Namespace */
  color: #ffd382;
}
.highlight .nx {
  /* Name.Other */
  color: #abc6ff;
}
.highlight .py {
  /* Name.Property */
  color: #eef7ff;
}
.highlight .nt {
  /* Name.Tag */
  color: #89ddff;
}
.highlight .nv {
  /* Name.Variable */
  color: #f09297;
}
.highlight .ow {
  /* Operator.Word */
  color: #89ddff;
}
.highlight .w {
  /* Text.Whitespace */
  color: #eef7ff;
}
.highlight .mf {
  /* Literal.Number.Float */
  color: #f1a189;
}
.highlight .mh {
  /* Literal.Number.Hex */
  color: #f1a189;
}
.highlight .mi {
  /* Literal.Number.Integer */
  color: #f1a189;
}
.highlight .mo {
  /* Literal.Number.Oct */
  color: #f1a189;
}
.highlight .sb {
  /* Literal.String.Backtick */
  color: #adf3ad;
}
.highlight .sc {
  /* Literal.String.Char */
  color: #eef7ff;
}
.highlight .sd {
  /* Literal.String.Doc */
  color: #b2ccd6;
}
.highlight .s2 {
  /* Literal.String.Double */
  color: #adf3ad;
}
.highlight .se {
  /* Literal.String.Escape */
  color: #f1a189;
}
.highlight .sh {
  /* Literal.String.Heredoc */
  color: #adf3ad;
}
.highlight .si {
  /* Literal.String.Interpol */
  color: #f1a189;
}
.highlight .sx {
  /* Literal.String.Other */
  color: #adf3ad;
}
.highlight .sr {
  /* Literal.String.Regex */
  color: #adf3ad;
}
.highlight .s1 {
  /* Literal.String.Single */
  color: #adf3ad;
}
.highlight .ss {
  /* Literal.String.Symbol */
  color: #adf3ad;
}
.highlight .bp {
  /* Name.Builtin.Pseudo */
  color: #eef7ff;
}
.highlight .vc {
  /* Name.Variable.Class */
  color: #f09297;
}
.highlight .vg {
  /* Name.Variable.Global */
  color: #f09297;
}
.highlight .vi {
  /* Name.Variable.Instance */
  color: #f09297;
}
.highlight .il {
  /* Literal.Number.Integer.Long */
  color: #f1a189;
}

.page-title,
.entry-title {
  font-style: normal;
}

ul,
ol {
  margin-bottom: 4px;
}

.site-nav {
  animation-duration: 0.3s;
}

.noHover {
  pointer-events: none;
}

.link-button {
  background-color: #383a52;
  font-weight: 900;
  padding: 4px 8px 4px 8px;
  margin: 4px 4px 4px 0px;
  border-radius: 8px;
  text-decoration: none;
  opacity: 80%;
  min-width: 64px;
  display: inline-block;
  text-align: center;
}
.link-button:hover {
  opacity: 100%;
}

.gmail {
  color: #ff99d1;
}
.gmail:hover {
  color: #ff99d1;
}

.github {
  color: #a9f;
}
.github:hover {
  color: #a9f;
}

.linkedIn {
  color: #99bdff;
}
.linkedIn:hover {
  color: #99bdff;
}

.telegram {
  color: #99fffa;
}
.telegram:hover {
  color: #99fffa;
}

.location {
  color: #aaff99;
}
.location:hover {
  color: #aaff99;
}

.tech-button {
  background-color: #383a52;
  font-weight: 900;
  padding: 4px 8px 4px 8px;
  margin: 4px 4px 4px 0px;
  border-radius: 8px;
  text-decoration: none;
  opacity: 80%;
  min-width: 64px;
  display: inline-block;
  text-align: center;
  transition: width 1s ease-in-out;
}
.tech-button:hover {
  opacity: 100%;
}

.known1 {
  color: #ff99d1;
}
.known1:hover {
  color: #ff99d1;
}

.known2 {
  color: #a9f;
}
.known2:hover {
  color: #a9f;
}

.known3 {
  color: #99bdff;
}
.known3:hover {
  color: #99bdff;
}

.known4 {
  color: #99fffa;
}
.known4:hover {
  color: #99fffa;
}

.known5 {
  color: #aaff99;
}
.known5:hover {
  color: #aaff99;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #383a52;
  text-align: center;
  padding: 5px 0;
  border-radius: 8px;
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s;
}

h1 {
  margin-top: 32px;
  margin-bottom: 4px;
}

h2 {
  margin-top: 24px;
  margin-bottom: 2px;
}

h3 {
  margin-top: 16px;
  margin-bottom: 0px;
}

figure,
video,
img {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3294117647);
  border-radius: 16px;
}

.entry-card-img {
  box-shadow: none;
  border-radius: 0px;
  height: 128px;
  width: 256px;
  display: inline-block;
}
@media all and (max-width: 800px) {
  .entry-card-img {
    opacity: 15%;
  }
}

.entry-card {
  height: 128px;
  display: inline-block;
  width: 256px;
}
@media all and (max-width: 800px) {
  .entry-card {
    position: absolute;
  }
}

.cardPostEntry {
  background-color: #2e333c;
  box-shadow: 0px 0px 32px 0px rgba(4, 5, 5, 0.472);
  border-radius: 16px;
  padding: 4px;
  padding-left: 16px;
  transition: all 0.3s;
}
.cardPostEntry:hover {
  background-color: #4f5661;
  box-shadow: 0px 0px 40px 0px #262c2f;
}
.cardPostEntry a {
  color: #d1e0e6;
}
.cardPostEntry a:hover {
  color: #f0f5f7;
}
.cardPostEntry.blue {
  background-color: #2d323e;
  box-shadow: 0px 0px 32px 0px rgba(4, 4, 6, 0.472);
  border-radius: 16px;
  padding: 4px;
  padding-left: 16px;
  transition: all 0.3s;
}
.cardPostEntry.blue:hover {
  background-color: #4a5369;
  box-shadow: 0px 0px 40px 0px #222936;
}
.cardPostEntry.blue a {
  color: #c2d7ff;
}
.cardPostEntry.blue a:hover {
  color: #ebf2ff;
}
.cardPostEntry.purple {
  background-color: #2e303e;
  box-shadow: 0px 0px 32px 0px rgba(4, 4, 6, 0.472);
  border-radius: 16px;
  padding: 4px;
  padding-left: 16px;
  transition: all 0.3s;
}
.cardPostEntry.purple:hover {
  background-color: #4e4c69;
  box-shadow: 0px 0px 40px 0px #262336;
}
.cardPostEntry.purple a {
  color: #cfc2ff;
}
.cardPostEntry.purple a:hover {
  color: #efebff;
}
.cardPostEntry.red {
  background-color: #333039;
  box-shadow: 0px 0px 32px 0px rgba(6, 4, 4, 0.472);
  border-radius: 16px;
  padding: 4px;
  padding-left: 16px;
  transition: all 0.3s;
}
.cardPostEntry.red:hover {
  background-color: #5e4c58;
  box-shadow: 0px 0px 40px 0px #352326;
}
.cardPostEntry.red a {
  color: #ffc2ca;
}
.cardPostEntry.red a:hover {
  color: #ffebed;
}
.cardPostEntry.orange {
  background-color: #333138;
  box-shadow: 0px 0px 32px 0px rgba(6, 4, 4, 0.472);
  border-radius: 16px;
  padding: 4px;
  padding-left: 16px;
  transition: all 0.3s;
}
.cardPostEntry.orange:hover {
  background-color: #5e5155;
  box-shadow: 0px 0px 40px 0px #352724;
}
.cardPostEntry.orange a {
  color: #ffd0c2;
}
.cardPostEntry.orange a:hover {
  color: #ffefeb;
}
.cardPostEntry.yellow {
  background-color: #333438;
  box-shadow: 0px 0px 32px 0px rgba(6, 5, 4, 0.472);
  border-radius: 16px;
  padding: 4px;
  padding-left: 16px;
  transition: all 0.3s;
}
.cardPostEntry.yellow:hover {
  background-color: #5e5a55;
  box-shadow: 0px 0px 40px 0px #352f24;
}
.cardPostEntry.yellow a {
  color: #ffecc2;
}
.cardPostEntry.yellow a:hover {
  color: #fff9eb;
}
.cardPostEntry.green {
  background-color: #2e3638;
  box-shadow: 0px 0px 32px 0px rgba(4, 6, 4, 0.472);
  border-radius: 16px;
  padding: 4px;
  padding-left: 16px;
  transition: all 0.3s;
}
.cardPostEntry.green:hover {
  background-color: #4f6155;
  box-shadow: 0px 0px 40px 0px #263524;
}
.cardPostEntry.green a {
  color: #d0ffc2;
}
.cardPostEntry.green a:hover {
  color: #efffeb;
}

.post-entry-meta {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 14px;
  opacity: 50%;
  font-weight: bold;
  text-align: right;
}
@media all and (max-width: 800px) {
  .post-entry-meta {
    position: relative;
    display: block;
    text-align: left;
    font-size: 12px;
    margin-left: 8px;
  }
}

.post-entry-space {
  content: "";
  display: block;
}
@media all and (max-width: 800px) {
  .post-entry-space {
    display: inline-block;
    margin-left: 4px;
  }
}

.entry-title {
  font-style: normal;
  font-weight: bold;
  vertical-align: top;
}

.entry-description {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  opacity: 50%;
}

.post-entry-card {
  display: inline-block;
  vertical-align: top;
}

.notice--danger {
  background-color: rgba(255, 162, 158, 0.1);
  color: rgb(255, 162, 158);
}
.notice--danger a {
  color: rgba(255, 162, 158, 0.8);
}
.notice--danger a:hover {
  color: rgb(255, 162, 158);
}

.notice--warning {
  background-color: rgba(255, 243, 184, 0.1);
  color: rgb(255, 243, 184);
}
.notice--warning a {
  color: rgba(255, 243, 184, 0.8);
}
.notice--warning a:hover {
  color: rgb(255, 243, 184);
}

.notice--success {
  background-color: rgba(164, 255, 187, 0.1);
  color: rgb(164, 255, 187);
}
.notice--success a {
  color: rgba(164, 255, 187, 0.8);
}
.notice--success a:hover {
  color: rgb(164, 255, 187);
}

.notice--info {
  background-color: rgba(179, 233, 255, 0.1);
  color: rgb(179, 233, 255);
}
.notice--info a {
  color: rgba(179, 233, 255, 0.8);
}
.notice--info a:hover {
  color: rgb(179, 233, 255);
}

.entries-list-in-page .entry-title {
  font-size: 22px !important;
}

.notice-icon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 16px;
}

table {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3294117647);
  border-radius: 16px;
  display: block;
  overflow: scroll;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #494e5e;
  transition: all 0.3s;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #707892;
}

.img-left {
  float: left;
  width: 46%;
  margin: 2%;
}
.img-left:after {
  content: attr(title);
  position: absolute;
  display: block;
  background: #ccc;
  color: black;
  padding: 5px;
}

.img-right {
  float: right;
  width: 46%;
  margin: 2%;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #363944;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/*# sourceMappingURL=custom.css.map */
