@charset "utf-8";

@import "so-simple/functions";
@import "so-simple/variables";
@import "so-simple/notices";

/* Colors */
$base-color: #eaeaea !default;
$text-color: #bfc5ca !default;
$accent-color: #d4a747 !default;
$nav-color: #aeaeae !default;
$background-color: #252831 !default;
$nav-background-color: mix(#000, $background-color, 30%) !default;
$code-background-color: mix(#000, $background-color, 15%) !default;
$border-color: mix(rgb(255, 255, 255), $background-color, 10%) !default;

$primary-color: white !default;
$success-color: rgb(164, 255, 187) !default;
$warning-color: rgb(255, 243, 184) !default;
$danger-color: rgb(255, 162, 158) !default;
$info-color: rgb(179, 233, 255) !default;

$base00: #363944;
$base01: #434755;
$base02: #494e5e;
$base03: #707892;
$base04: #b2ccd6;
$base05: #eef7ff;
$base06: #eeffff;
$base07: #ffffff;
$base08: #f09297;
$base09: #f1a189;
$base0a: #ffd382;
$base0b: #adf3ad;
$base0c: #89ddff;
$base0d: #abc6ff;
$base0e: #cca7e6;
$base0f: #ff889c;

@import "so-simple/skin";

.entry-image { 
    -webkit-box-ordinal-group: 0; 
    -ms-flex-order: -1; 
    order: -1; 
    width: 100%; 
    margin-bottom: -128px;

    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,255,255, 0.5);
        transition: all .3s linear;
    }
 }

