@charset "utf-8";

@import "so-simple/functions";
@import "so-simple/variables";
@import "so-simple/notices";

$serif-font-family: "Comfortaa", serif;

/* Colors */
$base-color: #eaeaea !default;
$text-color: #bfc5ca !default;
$accent-color: #d4a747 !default;
$nav-color: #aeaeae !default;
$background-color: #252831 !default;
$nav-background-color: mix(#000, $background-color, 30%) !default;
$code-background-color: mix(#000, $background-color, 15%) !default;
$border-color: mix(rgb(255, 255, 255), $background-color, 10%) !default;

$primary-color: white !default;
$success-color: rgb(164, 255, 187) !default;
$warning-color: rgb(255, 243, 184) !default;
$danger-color: rgb(255, 162, 158) !default;
$info-color: rgb(179, 233, 255) !default;

$base00: #363944;
$base01: #434755;
$base02: #494e5e;
$base03: #707892;
$base04: #b2ccd6;
$base05: #eef7ff;
$base06: #eeffff;
$base07: #ffffff;
$base08: #f09297;
$base09: #f1a189;
$base0a: #ffd382;
$base0b: #adf3ad;
$base0c: #89ddff;
$base0d: #abc6ff;
$base0e: #cca7e6;
$base0f: #ff889c;

@import "so-simple/skin";

// .entry-image { 
//     -webkit-box-ordinal-group: 0; 
//     -ms-flex-order: -1; 
//     order: -1; 
//     width: 100%; 
//     margin-bottom: -128px;

//     &:before,
//     &:after {
//         content: "";
//         display: block;
//         position: absolute;
//         z-index: 2;
//         top: 0;
//         bottom: 0;
//         left: 0;
//         right: 0;
//         background: rgba(0,255,255, 0.5);
//         transition: all .3s linear;
//     }
//  }

.page-title,
.entry-title {
    font-style: normal;
}

ul,
ol {
    margin-bottom: 4px;
}

.site-nav {
    animation-duration: 0.3s;
}

.noHover{
    pointer-events: none;
}

.link-button {
    background-color: #383a52;
    font-weight: 900;
    padding: 4px 8px 4px 8px;
    margin: 4px 4px 4px 0px;
    border-radius: 8px;
    text-decoration: none;
    opacity: 80%;
    min-width: 64px;
    display: inline-block;
    text-align: center;

    &:hover {
        opacity: 100%;
    }
}

.gmail { color: #ff99d1; &:hover { color: #ff99d1; } }
.github { color: #a9f; &:hover { color: #a9f; } }
.linkedIn { color: #99bdff; &:hover { color: #99bdff; } }
.telegram { color: #99fffa; &:hover { color: #99fffa; } }
.location { color: #aaff99; &:hover { color: #aaff99; } }

.tech-button {
    background-color: #383a52;
    font-weight: 900;
    padding: 4px 8px 4px 8px;
    margin: 4px 4px 4px 0px;
    border-radius: 8px;
    text-decoration: none;
    opacity: 80%;
    min-width: 64px;
    display: inline-block;
    text-align: center;
    transition: width 1s ease-in-out;

    &:hover {
        opacity: 100%;
    }
}

.known1 { color: #ff99d1; &:hover { color: #ff99d1; } }
.known2 { color: #a9f; &:hover { color: #a9f; } }
.known3 { color: #99bdff; &:hover { color: #99bdff; } }
.known4 { color: #99fffa; &:hover { color: #99fffa; } }
.known5 { color: #aaff99; &:hover { color: #aaff99; } }

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #383a52;
    text-align: center;
    padding: 5px 0;
    border-radius: 8px;
    opacity: 0;

    position: absolute;
    z-index: 1;
    top: 110%;
    left: 50%;
    margin-left: -60px;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
}

h1 {
    margin-top: 32px;
    margin-bottom: 4px;
}
h2 {
    margin-top: 24px;
    margin-bottom: 2px;
}
h3 {
    margin-top: 16px;
    margin-bottom: 0px;
}

img {
    box-shadow: 0px 0px 20px 0px #00000054;
    border-radius: 16px;
}

.entry-card-img {
    box-shadow: none;
    border-radius: 0px;
    height:128px; 
    width: 256px; 
    display:inline-block;

    @media all and (max-width: 800px) {
        opacity: 15%;
    }
}

.entry-card {
    height:128px; 
    display:inline-block; 
    width: 256px;

    @media all and (max-width: 800px) {
        position: absolute;
    }
}

.cardPostEntry {
    background-color: mix($background-color, $base00, 90%);
    box-shadow: 0px 0px 24px 0px #00000059;
    border-radius: 16px;
    padding: 4px;
    padding-left: 16px;
    transition: all 0.3s;

    &:hover {
        background-color: $base00;
        box-shadow: 0px 0px 24px 0px mix($background-color, $base00, 70%);
    }
}

.post-entry-meta {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 14px;
    opacity: 50%;
    font-weight: bold;
    text-align: right;

    @media all and (max-width: 800px) {
        position: relative;
        display: block;
        text-align: left;
        font-size: 12px;
        margin-left: 8px;
    }
}

.post-entry-space {
    content: "";
    display: block;

    @media all and (max-width: 800px) {
        display: inline-block;
        margin-left: 4px;
    }
}

.entry-title {
    font-style: normal;
    font-weight: bold;
    vertical-align: top;
}

.entry-description {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    opacity: 50%;
}

.post-entry-card {
    display:inline-block; 
    vertical-align: top;
}

@mixin notice($name) {
    background-color: rgba($name, 0.1);
    color: $name;

    a {
        color: rgba($name, 0.8);
    
        &:hover {
            color: $name;
        }
    }
}

.notice--danger {
    @include notice($danger-color);
}

.notice--warning {
    @include notice($warning-color);
}

.notice--success {
    @include notice($success-color);
}

.notice--info {
    @include notice($info-color);
}