@charset "utf-8";

@import "custom/colors.scss";
@import "so-simple/functions";
@import "so-simple/variables";
@import "so-simple/notices";
@import "custom/resume.scss";

$serif-font-family: "Comfortaa", serif;

/* Colors */


@import "so-simple/skin";

head {
    min-width: 256px;
}

.page-title,
.entry-title {
    font-style: normal;
}

ul,
ol {
    margin-bottom: 4px;
}

.site-nav {
    animation-duration: 0.3s;
}

.noHover{
    pointer-events: none;
}

.link-button {
    background-color: #383a52;
    font-weight: 900;
    padding: 4px 8px 4px 8px;
    margin: 4px 4px 4px 0px;
    border-radius: 8px;
    text-decoration: none;
    opacity: 80%;
    min-width: 64px;
    display: inline-block;
    text-align: center;

    &:hover {
        opacity: 100%;
    }
}

.gmail { color: #ff99d1; &:hover { color: #ff99d1; } }
.github { color: #a9f; &:hover { color: #a9f; } }
.linkedIn { color: #99bdff; &:hover { color: #99bdff; } }
.telegram { color: #99fffa; &:hover { color: #99fffa; } }
.location { color: #aaff99; &:hover { color: #aaff99; } }

.tech-button {
    background-color: #383a52;
    font-weight: 900;
    padding: 4px 8px 4px 8px;
    margin: 4px 4px 4px 0px;
    border-radius: 4px;
    text-decoration: none;
    opacity: 80%;
    min-width: 64px;
    display: inline-block;
    text-align: center;
    transition: width 1s ease-in-out;

    &:hover {
        opacity: 100%;
    }
}

.known1 { color: #ff99d1; &:hover { color: $base00; } }
.known2 { color: #aa99ff; &:hover { color: $base00; } }
.known3 { color: #99bdff; &:hover { color: $base00; } }
.known4 { color: #99fffa; &:hover { color: $base00; } }
.known5 { color: #aaff99; &:hover { color: $base00; } }

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    z-index: 5;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #383a52;
    text-align: center;
    border-radius: 16px;
    opacity: 0;
    width: 100%;
    height: 100%;
    align-content: center;

    position: absolute;
    z-index: 5;

    padding: 4px;
    margin: 2px;
    text-align: center;

    border-radius: 4px;
    //width: 120px;
    //height: 120px;
    font-size: 24px;
    
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.known1 { .tooltiptext { background-color: mix($background-color, #ff99d1, 0.8); } }
.known2 { .tooltiptext { background-color: mix($background-color, #a9f, 0.8); } }
.known3 { .tooltiptext { background-color: mix($background-color, #99bdff, 0.8); } }
.known4 { .tooltiptext { background-color: mix($background-color, #99fffa, 0.8); } }
.known5 { .tooltiptext { background-color: mix($background-color, #aaff99, 0.8); } }
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
}

h1 {
    margin-top: 32px;
    margin-bottom: 4px;
}
h2 {
    margin-top: 24px;
    margin-bottom: 2px;
}
h3 {
    margin-top: 16px;
    margin-bottom: 0px;
}
h4 {
    margin-top: 8px;
    margin-bottom: 0px;
}
h5 {
    margin-top: 8px;
    margin-bottom: 0px;
}

figure,
video,
img { 
    box-shadow: 0px 0px 20px 0px #00000054;
    border-radius: 16px;
    contain: content;
}

.entry-card-img {
    box-shadow: none;
    border-radius: 0px;
    height:128px; 
    width: 256px; 
    display:inline-block;

    @media all and (max-width: 800px) {
        opacity: 15%;
    }
}

.entry-card {
    height:128px;
    width: 256px;
    float: left;

    @media all and (max-width: 800px) {
        position: absolute;
    }
}

@mixin cardPostEntryMixin($color) {
    $col: mix($base00, $color, 40%);
    background-color: rgba(mix($background-color, $col, 90%), 50%);
    box-shadow: 0px 0px 32px 0px mix(#0007, $col, 99%);
    border-radius: 16px;
    padding: 4px;
    padding-left: 16px;
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
    height: 100%;
    padding: 8px;

    &:hover {
        background-color: rgba(mix($base00, $color, 80%), 50%);
        box-shadow: 0px 0px 40px 0px mix(#000f, $col, 70%);
    }

    a {
        color: mix(white, $color, 40%);
        &:hover {
            color: mix(white, $color, 80%);
        }
    }
}

.entry {
    &.left {
        float: left;
        width: 45%;

        .entry-card {
            float: none;
        }
    }

    &.right {
        float: right;
        width: 45%;

        .entry-card {
            float: none;
        }
    }


    
}

.entries-list .entry {
    @media all and (max-width: 400px) {
        width: 100%;
    }
}



.card-bg {
    background-size: cover;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border-radius: 16px;
    z-index: -1;
    background-position-y: 0px;
    transition: background-position-y 0.3s;
}

.cardPostEntry {
    @include cardPostEntryMixin($base04);

    &.blue { @include cardPostEntryMixin(#99bdff); }
    &.purple { @include cardPostEntryMixin(#af99ff); }
    &.red { @include cardPostEntryMixin(#ff99a7); }
    &.orange { @include cardPostEntryMixin(#ffb199); }
    &.yellow { @include cardPostEntryMixin(#ffdf99); }
    &.green { @include cardPostEntryMixin(#b1ff99); }
}

.card {
    margin-top: 8px;

    @include cardPostEntryMixin($base04);
    
    &.blue { @include cardPostEntryMixin(#99bdff); }
    &.purple { @include cardPostEntryMixin(#af99ff); }
    &.red { @include cardPostEntryMixin(#ff99a7); }
    &.orange { @include cardPostEntryMixin(#ffb199); }
    &.yellow { @include cardPostEntryMixin(#ffdf99); }
    &.green { @include cardPostEntryMixin(#b1ff99); }
}

.post-entry-meta {
    top: 8px;
    right: 8px;
    font-size: 14px;
    opacity: 50%;
    font-weight: bold;
    text-align: right;

    @media all and (max-width: 800px) {
        position: relative;
        display: block;
        text-align: left;
        font-size: 12px;
        margin-left: 8px;
    }
}

.post-entry-space {
    content: "";
    display: block;

    @media all and (max-width: 800px) {
        display: inline-block;
        margin-left: 4px;
    }
}

.entry-title {
    font-style: normal;
    font-weight: bold;
    vertical-align: top;
    font-family: Montserrat;
}

.entry-description {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    opacity: 50%;
    font-family: Montserrat;
}

.post-entry-card {
    vertical-align: top;
}

@mixin notice($name) {
    background-color: rgba($name, 0.1);
    color: $name;

    a {
        color: rgba($name, 0.8);
    
        &:hover {
            color: $name;
        }
    }
}

.notice--danger {
    @include notice($danger-color);
}

.notice--warning {
    @include notice($warning-color);
}

.notice--success {
    @include notice($success-color);
}

.notice--info {
    @include notice($info-color);
}

.entries-list-in-page .entry-title {
    font-size: 22px !important;
}

.icon {
    padding: 4px;
}
.notice-icon {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 16px;
}

table {
    box-shadow: 0px 0px 20px 0px #00000054;
    border-radius: 16px;
    display: block;
    overflow: scroll;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
    background: #0000;
}

::-webkit-scrollbar-thumb {
    background: $base02;
    transition: background-color 0.3s;
    border-radius: 4px;
    &:hover {
        background-color: $base03;
    }
}

.img-left {
    float:left;
    width: 46%;
    margin: 2%;
    &:after {
        content: attr(title);
        position: absolute;
        display: block;
        background: #ccc;
        color: black;
        padding: 5px;
    }
}
.img-right {
    float:right;
    width: 46%;
    margin: 2%;
}

/* Bottom right text */
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: $base00;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.reveal {
    position: relative;
    opacity: 100%;
    transform: translateY(0px);

    @media only screen and (min-width: 800px) {
        opacity: 0%;
        transition: 0.5s transform, 0.5s opacity;
        transform: translateY(100px);

        &.active {
            opacity: 100%;
            transform: translateY(0px);
        }
    }
}

@keyframes flickeringAnim {
    from {filter: brightness(0.7);}
    to {filter: brightness(1);}
}

.flickering {
    animation-name: flickeringAnim;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.body-bg {
    position: fixed;
    z-index: -1;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-size: 100vw;
}

@mixin wavy-bg($color, $img, $pos) {
    padding-top: 0px;
    padding-bottom: 16px;
    margin-top: -2px;
    position: relative;

    @media only screen and (min-width:600px) {
        &:before {
            content: "";
            background-size: cover;
            background-image: url($img);
            contain: paint;
            shape-rendering: optimizeSpeed;
            position: relative;
            height: 500px;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            top: -2px;
            background-position-y: bottom;
            display: inline-block;
            margin-bottom: -8%;
        }

        &:after {
            content: "";
            top: 498px;
            height: 100%;
            width: 100%;
            background-color: $color;
            position: absolute;
            z-index: -1;

        }
    }

    // &.entries-list {
    //     min-height: 100vh;
    //     //z-index: 0;
    // }
}

.home-page-main {
    margin-bottom: 32px;
}

.home-page-projects {
    margin-top: 128px;
    @include wavy-bg(#434950, "/images/Backgrounds/General/Wavy/0.svg", -1);
}

.home-page-posts {
    @include wavy-bg(#2a394e, "/images/Backgrounds/General/Wavy/1.svg", -2);
}

.home-page-other {
    @include wavy-bg(#21212f, "/images/Backgrounds/General/Wavy/2.svg", -3);
}

.home-page-end {
    @include wavy-bg(#252831, "/images/Backgrounds/General/Wavy/3.svg", -4);
    &:before { margin-bottom: 0; }
    &:after { width: 0; }
}

.about-page-end {
    @include wavy-bg(#252831, "/images/Backgrounds/General/Wavy/3.svg", -5);
    &:before { margin-bottom: 0; }
    &:after { width: 0; }
}

.about-page-skills {
    @include wavy-bg(#21212f, "/images/Backgrounds/General/Wavy/4.svg", -6);
    &:before { margin-bottom: 0; }
}

.page-wrapper {
    max-width: none;
    padding-left: 0px;
    padding-right: 0px;
}

.entries-list {
    max-width: 1024px;
    margin: auto;
}

.page-content-center {
    max-width: 1024px;
    margin: auto !important;
    float: none !important;
}

.home-page-label {
    position: relative;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    margin: auto;
    margin-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    letter-spacing: 8px;
    text-shadow: 0 0 20px #00000054;
    
    &.projects {
        color: #aeb7ff;
    }
    &.posts {
        color: #bbffc7;
    }
    &.other {
        color: #d9b382;
    }

    @media all and (max-width: 250px) {
        font-size: 24px;
        margin-right: 0;
        margin-left: 0;
        letter-spacing: 0px;
    }

    @media all and (max-width: 400px) {
        font-size: 32px; 
    }
}

.about-page-label {
    position: relative;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    margin: auto;
    margin-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    letter-spacing: 8px;
    text-shadow: 0 0 20px #00000054;
    
    &.skills {
        color: #aeb7ff;
    }
    &.reviews {
        color: #ffd5ae;
    }
   
    @media all and (max-width: 250px) {
        font-size: 24px;
        margin-right: 0;
        margin-left: 0;
        letter-spacing: 0px;
    }

    @media all and (max-width: 400px) {
        font-size: 32px; 
    }
}

.horizontal-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    &.nowrap {
        flex-wrap: nowrap;
    }
}

.vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    &.nowrap {
        flex-wrap: nowrap;
    }
}

.home-page-button {
    padding: 8px;
    margin: 16px;
    width: 48px;
    height: 48px;
}

// .tech-button {
//     padding: 4px;
//     margin: 2px;
//     width: 120px;
//     height: 32px;
//     text-align: center;
// }

.nav-button {
    padding: 8px;
    margin: 8px;
    color: $text-color;
    text-decoration: none;
    width: 128px;
    text-align: center;

    font-weight: bold;

    &:hover {
        color: $text-color;
    }
}

.home-page-button-icon {
    width: 32px;
    height: 32px;
    color: $text-color;
}

.project-card {
    width: 40%;
    margin: 32px;
    text-align: center;

    .entry-card {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }

    .post-entry-meta {
        width: 0px;
        height: 0px;
        visibility: hidden;
    }
}

.about-text {
    //font-weight: bold;
    font-size: 21px;

    &.first {
        margin: 32px;
        margin-top: 64px;
        margin-bottom: 64px;
    }
    &.second {
        font-size: 18px;
        margin: 32px;
        margin-top: 64px;
        margin-bottom: 16px;
    }
    &.third {
        font-size: 18px;
        margin: 32px;
        margin-top: 16px;
    }
}

.quote {
    width: 42px;
    height: 42px;
    vertical-align: middle;
}

.quote-text {
    font-family: "Caveat";
    display: block;
    padding-left: 42px;
    padding-right: 42px;
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    color: $base0a;
    // &:before {
    //     position: absolute;
    //     color: $base01;
    //     font-size: 80px;
    //     content: '“';
	//     left: 4px;
    // }
    // &:after {
    //     position: absolute;
    //     color: $base01;
    //     font-size: 80px;
    //     content: '”';
	//     right: 4px;
    // }
}

.review {
    font-size: 21px;
    margin: 16px;

    .review-text-sub {
        font-family: "Caveat";
        font-size: 22px;
        opacity: 0.5;
        text-decoration: none;
        text-align: right;
    }
}

.about-first {
    align-items: center;
    @media all and (max-width: 800px) {
        flex-direction: column;
    }
}

.ugly-photo {
    width: 128px;
    height: 128px;
    background-size: cover;
    border-radius: 16px;
    align-self: center;
    margin: auto;
    margin-bottom: 16px;
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
}

// html {
//     scroll-snap-type: y mandatory;
//     scroll-snap-align: start;
// }

// .h1,
// .h2,
// .waypoint {
//     scroll-snap-align: start;
// }

.side-nav-button {
    position: fixed;
    width: 120px;
    height: 32px;
    background-color: #6477a159;
    top: 50%;
    content: "hi";
    color: $base0b;
    border-radius: 0px 16px 16px 0px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    font-family: Montserrat;
}

.card {
    transition: transform 0.3s;

    &.unloaded {
        transform: scale(0.0, 0.0);
    }
}

.other {
    transition: transform 2.3s;
    &.unloaded {
        transform: scale(0.5, 0.5);
        transform: rotate3d(1.9, -1.2, -1.3, 222deg);
    }
}

.page {
    transition: filter 0.3s ease;

    &.unloaded {
        filter: blur(8px);
    }
}

footer {
    .horizontal-container {
        justify-content: space-evenly;
    }
}

@mixin button-mixin($color) {
    background-color: rgba(mix($background-color, $color, 80%), 100%);
    color: mix($text-color, $color, 40%);
    box-shadow: 0px 0px 32px 0px mix(#0007, $color, 99%);
    border-radius: 16px;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 8px;
    display: inline;
    font-weight:bold;
    text-decoration: none;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: rgba(mix($base00, $color, 30%), 50%);
        box-shadow: 0px 0px 40px 0px mix(#000f, $color, 80%);
        color: mix($text-color, $color, 40%);
    }
}

button, .button {
    @include button-mixin($base04);
    
    &.blue { @include button-mixin(#99bdff); }
    &.purple { @include button-mixin(#af99ff); }
    &.red { @include button-mixin(#ff99a7); }
    &.orange { @include button-mixin(#ffb199); }
    &.yellow { @include button-mixin(#ffdf99); }
    &.green { @include button-mixin(#b1ff99); }

    &.center {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: fit-content;
        margin-top: -4px;
    }
}

.timeline-node {
    width: 32px;
    height: 32px;
    background-color: mix($background-color, $base04, 80%);
    border-radius: 16px;
}

.posts-timeline-txt {
    font-family: Montserrat;
    font-weight:600;
    opacity: 0.4;
    font-size: 32px;
    text-align: center;
}
.posts-timeline-block {
    contain: paint;

    @media all and (min-width: 500px) {
        padding: 16px;
        margin-top: 32px;
    }

    @media all and (min-width: 300px) {
        background-color: rgba($base04, 2%);
        border-radius: 16px;
        box-shadow: 0px 0px 24px 0px #0001;
    }
}

p {
    margin: 0px;
}

.tech-button {
    padding: 4px;
    margin: 2px;
    text-align: center;

    border-radius: 4px;
    width: 120px;
    height: 120px;
    font-size: 24px;
    
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}