<article>
    <a href="mailto://firedef2019@gmail.com" class="link-button gmail">
        <i class="fa-solid fa-envelope-open-text noHover"></i> 
        <span class="noHover">GMail</span>
    </a>
    <a href="https://github.com/firedef" class="link-button github">
        <i class="fab fa-github noHover"></i> 
        <span class="noHover">GitHub</span>
    </a>
    <a href="https://www.linkedin.com/in/dmitriy-nosov-06b76221b" class="link-button linkedIn">
        <i class="fab fa-linkedin noHover"></i> 
        <span class="noHover">LinkedIn</span>
    </a>
    <a href="https://t.me/firedef" class="link-button telegram">
        <i class="fab fa-telegram-plane noHover"></i> 
        <span class="noHover">Telegram</span>
    </a>
    <a href="https://goo.gl/maps/UVJfKrXEE2Zc2LgS8" class="link-button location">
        <i class="fas fa-map-marked noHover"></i> 
        <span class="noHover">Location</span>
    </a>
</article>