<article class="horizontal-container" style="flex-wrap: wrap;">
    <a class="tech-button known5 tooltip card home-page-button blink"><span>C#</span><div class="tooltiptext">★★★★★</div></a>
    <a class="tech-button known5 tooltip card home-page-button blink"><span>DotNet</span><div class="tooltiptext">★★★★★</div></a>
    <a class="tech-button known4 tooltip card home-page-button blink"><span>Unity</span><div class="tooltiptext">★★★★☆</div></a>
    <a class="tech-button known4 tooltip card home-page-button blink"><span>Linux</span><div class="tooltiptext">★★★★☆</div></a>
    <a class="tech-button known4 tooltip card home-page-button blink"><span>C</span><div class="tooltiptext">★★★★☆</div></a>
    <a class="tech-button known3 tooltip card home-page-button blink"><span>C++</span><div class="tooltiptext">★★★☆☆</div></a>
    <a class="tech-button known3 tooltip card home-page-button blink"><span>OpenGl</span><div class="tooltiptext">★★★☆☆</div></a>
    <a class="tech-button known3 tooltip card home-page-button blink"><span>GLSL</span><div class="tooltiptext">★★★☆☆</div></a>
    <a class="tech-button known3 tooltip card home-page-button blink"><span>HLSL</span><div class="tooltiptext">★★★☆☆</div></a>
    <a class="tech-button known3 tooltip card home-page-button blink"><span>Python</span><div class="tooltiptext">★★★☆☆</div></a>
</article>