<article>
    <a class="tech-button known5 tooltip"><span>C#</span><div class="tooltiptext">★★★★★</div></a>
    <a class="tech-button known5 tooltip"><span>DotNet</span><div class="tooltiptext">★★★★★</div></a>
    <a class="tech-button known4 tooltip"><span>Unity</span><div class="tooltiptext">★★★★☆</div></a>
    <a class="tech-button known4 tooltip"><span>Linux</span><div class="tooltiptext">★★★★☆</div></a>
    <a class="tech-button known4 tooltip"><span>C</span><div class="tooltiptext">★★★★☆</div></a>
    <a class="tech-button known3 tooltip"><span>C++</span><div class="tooltiptext">★★★☆☆</div></a>
    <a class="tech-button known3 tooltip"><span>OpenGl</span><div class="tooltiptext">★★★☆☆</div></a>
    <a class="tech-button known3 tooltip"><span>GLSL</span><div class="tooltiptext">★★★☆☆</div></a>
    <a class="tech-button known3 tooltip"><span>HLSL</span><div class="tooltiptext">★★★☆☆</div></a>
    <a class="tech-button known3 tooltip"><span>Python</span><div class="tooltiptext">★★★☆☆</div></a>
</article>