---
layout: default
---
<main id="main" class="main-content {% unless page.disable-center %}page-content-center{% endunless %} {{ page.extra.class.page-main }}" aria-label="Content" style="{{ page.extra.style.page-main }}">
  <article>
    {% include page-image.html %}
    <div class="page-wrapper">
      <header class="page-header">
        {% if page.id %}
          {% assign title = page.title | markdownify | strip_html %}
        {% else %}
          {% assign title = page.title %}
        {% endif %}
        {% unless page.disableTitleInPost %}
            {% if page.link %}
                <h1 id="page-title" class="page-title"><a href="{{ page.link }}">{{ title }} <span class="link-arrow">&rarr;</span></a></h1>
            {% else %}
                <h1 id="page-title" class="page-title">{{ title }}</h1>
            {% endif %}
        {% endunless %}
      </header>
      <div class="page-content">
        {% if page.pageWip %}
          <p class="notice--danger">
            <i class="fa-solid fa-person-digging"></i>
            This page is work in progress 
          </p>
        {% endif %}

        {% if page.projectWip %}
          <p class="notice--warning">
            <i class="fa-solid fa-person-digging"></i>
            This project is work in progress 
          </p>
        {% endif %}

        {% if page.source %}
          <p class="notice--success">
            <i class="fa-solid fa-code-branch"></i>
            This project is open source:
            <a href="{{page.source}}">{{page.source}}</a>            
          </p>
        {% endif %}

        {{ content }}

        {% if page.share %}
          {% include social-share.html %}
        {% endif %}

        {% include related.html %}
      </div>
    </div>
  </article>
</main>